body{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color: grey;
    margin: 0px;
    flex-wrap: wrap;
    }
.one li{display: inline;
    background-color: black;
    color: white;
    padding: 10px;}
a{text-decoration: none;
color:#ccc;}
h1{color: white;}
h2{color:azure}
p{color: white;}
